body{
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}
.title{
	padding-top: 10px;
	padding-left: 15px;
}
.m-640{
	width: 640px;
}
.mui-container .mui-panel{
	margin-top: 4em;
}
.plugin-icon img{
    vertical-align: middle;
    width: 30px;
    float: left;
    margin-left: 25px;
}
.mui--text-blue{
	color: #2196F3;
}
.mui--text-accent-red{
	color: #EA4335;
}
.clear{
	clear:both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.pointer{
	cursor: pointer;
}
.plugin-header,
.plugin-description{
	margin: 15px 0;
	overflow: hidden;
}
